<h3>skill</h3>
<table border="0">
    <li>
        <tr>
            <td>
                <p>POSGREST SQL</p>
        </td><label for="file">File progress:</label> <progress id="file" max="100" value="80"> 70% </progress>

        </tr>
        <tr>
            <td>
                <p>python</p>
            </td><label for="file">File progress:</label> <progress id="file" max="100" value="50"> 70% </progress>
            
        </tr>
        <tr>
            <td>
                <p>jave</p>
            </td><label for="file">File progress:</label> <progress id="file" max="100" value="90"> 70% </progress>
        </tr>
        <tr>
            <td>
                <p>git</p>
            </td><label for="file">File progress:</label> <progress id="file" max="100" value="75"> 70% </progress>
        </tr> 
    </li>
</table>