<h3>logros</h3>
<td>
    <img class="circular--square" src="../assets/imagen/certificadopy.png" width="100">
</td>
<td>
    <img class="circular--square" src="../assets/imagen/pandascertii.png" width="100">
</td>

<table border="0">
    <ul *ngFor="let cer of logros">
        <li>
            <tr>
                <td>{{cer.certificado}}</td> 
            </tr>
            <tr>
                <td>Logros</td>
            </tr>
            <ul *ngFor = "let logro of cer.logros">
                <li>
                    <tr>
                        <td>{{logro.descripcion}}</td>
                    </tr>
                </li>
            </ul>
        </li>
    </ul>