<h3>logros</h3>

<table border="0">
    <ul *ngFor="let cer of logros">
        <li>
            <tr>
                <td>{{cer.certificado}}</td> 
            </tr>
            <tr>
                <td>Logros</td>
            </tr>
            <ul *ngFor = "let logro of cer.logros">
                <li>
                    <tr>
                        <td>{{logro.descripcion}}</td>
                        <td><a href="{{cer.link}}">Link</a></td>
                    </tr>
                </li>
            </ul>
        </li>
    </ul>